:root{
    --background-color: #031425;
    --color-texto: #f9f9f9;
    --background-btn: #783b8e;
    --text-btn: #e6e9ed;
    --background-btn-hover: #e6e9ed;
    --text-btn-hover: #1f61cc;
    --border: #e6e9ed;
    --border-opacity: #f9f9f939;
    --color-azul: #EBEDED;
    --background-azul: #2d2f2f;
    --color-morado: #EBEDED;
    --color-blue: #EBEDED;
    --background-portada: #031425;
}